<form asp-action="Users" asp-controller="Users">
    <section class="page-content">
        <form role="form">
            <div class="form-group">
                <h4>ПОИСК ПО ГРУППЕ</h4>
                <input class="form-control">
            </div>
            <form>
                <label for="fname">ПОЛЕ 1:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">ПОЛЕ 2:</label><br>
                <input type="text" id="lname" name="lname">


            </form>

            <form>
                <label for="fname">ПОЛЕ 3:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">ПОЛЕ 4:</label><br>
                <input type="text" id="lname" name="lname">


            </form>
        </form>


        <table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">
                        ID
                    </th>
                    <th class="th-sm">
                        ГРУППА
                    </th>
                    <th class="th-sm">
                        ФИО
                    </th>
                    <th class="th-sm">
                        КЛЮЧ
                    </th>

                </tr>
            </thead>
            <tbody>
    </section>
</form>